@font-face {
	font-family: 'Gilroy_bold';
	src: url(./fonts/Gilroy-Bold.woff2);
}
@font-face {
	font-family: 'Gilroy_medium';
	src: url(./fonts/Gilroy-Medium.woff2);
}
@font-face {
	font-family: 'Gilroy_regular';
	src: url(./fonts/Gilroy-Regular.woff2);
}
@font-face {
	font-family: 'Gilroy_semibolid';
	src: url(./fonts/Gilroy-Semibold.woff2);
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
	display: block;
}

.header__block__navigation {
	font-family: 'Gilroy_semibolid';
	font-size: 14px;
	line-height: 16px;
}

.header__homeLink {
	font-family: 'Gilroy_semibolid';
	color: #f25822;
	font-size: 14px;
	line-height: 16px;
}

.main__wrapper {
	width: 1920px;
	height: 700px;

	background: #ffffff;
}

.main__title {
	font-family: 'Gilroy_bold';
	width: 522px;
	height: 222px;

	font-size: 60px;
	line-height: 70px;
}

.main__subtitle {
	font-size: 20px;
	color: #888888;
	font-family: 'Gilroy_medium';
}

.main__wrapper__button {
	background-color: #f25822;
	font-family: 'Gilroy_bold';
	width: 140px;
	height: 50px;
	border-radius: 50px;
	border: none;
}

.main__wrapper__buttonEmpty {
	font-family: 'Gilroy_bold';
	border: none;
	color: #aaaaaa;
	background-color: #ffffff;
	width: 140px;
	height: 50px;
}

.footer__logo {
}

.container {
	width: 1275px;
	margin: 0 auto;
}
